<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Athens Exchange Courses</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid ">
            <h1>Athens Courses</h1>
            <h4>Courses matching filters: <span id="countOutput">0</span></h4>
        </div>

        <div class="container-fluid">
            <table id="athens_table" class="table table-striped table-bordered table-hover">
                <caption>No more courses available</caption>

                <thead class="thead-light">
                    <tr>
                        <!-- last column is Link-->
                        {% for column in df.columns[:-1] %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>

                    {% for idx, row in df.iterrows() %}
                    <tr>
                        {% for colname in df.columns %}
                        {% if 'Link' != colname %}
                        <td>
                            <div class="scroll_on_hover">
                                {{ row[colname]}}
                                {% if 'Code' == colname %}
                                <a href="{{row.Link}}">Course page</a>
                                {% endif %}
                            </div>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS - copied from mozilla-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- Magic table sorting   -->
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
<script>
    $("#athens_table").fancyTable({
        sortable: true,
    });
</script>
<!-- counter of courses at the top of the page -->
<script>
    const targetNode = document.getElementById("athens_table").children[2];
    const contOutput = document.getElementById("countOutput");

    function updateCount() {
        let visible_rows_count = 0;
        for (let child of targetNode.children) {
            visible_rows_count += 1 - child.attributeStyleMap.size
        }
        contOutput.innerHTML = visible_rows_count;
    }

    // Options for the observer (which mutations to observe)
    let config = { attributes: true, childList: true, subtree: true };
    let callback = function (mutationsList, observer) {
        updateCount();
    };
    let observer = new MutationObserver(callback);
    // Start observing the target node for configured mutations
    observer.observe(targetNode, config);
    updateCount();

</script>


</html>