<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Athens Exchange Courses</title>

    <style>
    </style>
</head>

<body style="background-color: rgb(68, 184, 77);">
    <div class="container" style="background-color: rgb(221, 252, 223);">
        <div class="container-fluid ">
            <h1 class="text-center py-4">Athens Courses</h1>
        </div>
        <div class="container-fluid">
            <div class="row pb-3">
                <div class="col-lg-3 p-2" style="background-color:  hsl(0, 0%, 95%);">
                    <h4 class="text-center">Filters</h4>
                    {% include 'filters.html' %}
                </div>
                <div class="col-lg-9 p-2" style="background-color: hsl(0, 0%, 95%);">
                    <h4 class="text-center">Courses (matching: <span id="countOutput">0</span>)</h4>
                    <div class="container-fluid pb-2 px-0">
                        <div class="row px-3">
                            <span class="pt-2"> Sort by: </span>
                            <form action="" id="sort_dropdown_column">
                                <div class="form-group pl-1">
                                    <select class="form-control" id="sort_dropdown_selection_column" onchange="on_sort_change()">
                                        {% for value in columns_sort_by %}
                                        <option> {{value}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <form action="" id="sort_dropdown_asc_desc">
                                <div class="form-group pl-1">
                                    <select class="form-control" id="sort_dropdown_selection_asc_desc" onchange="on_sort_change()">
                                        <option value="0"> Ascending
                                        </option>
                                        <option value="1"> Descending
                                        </option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        {% include 'courses_list.html' %}
                    </div>
                </div>
            </div>


        </div>
</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS - copied from mozilla-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- counter of courses at the top of the page -->
<script>
    const targetNode = document.getElementById("accordion");
    const contOutput = document.getElementById("countOutput");

    function updateCount(mutationsList) {
        contOutput.innerHTML = targetNode.childElementCount - targetNode.querySelectorAll('.hidden_card').length;
    }

    // Options for the observer (which mutations to observe)
    let config = { attributes: true, childList: true, subtree: true };
    let callback = function (mutationsList, observer) {
        updateCount(mutationsList);
    };
    let observer = new MutationObserver(callback);
    // Start observing the target node for configured mutations
    observer.observe(targetNode, config);
    updateCount([]);

</script>

<script>
    {% include 'filters.js' %}
    {% include 'sorting.js' %}
</script>
<style>
    .hidden_card {
        display: none;
    }

    .not_hidden_card {
        display: flex;
    }
</style>


</html>