<div class="container-fluid px-0">
    <div id="accordion" role="tablist">
        {% for idx, row in courses_data.iterrows() %}
        <div class="card courses-info not_hidden_card" id="course_card_{{idx}}">
            <div class="card-header" id="header_{{idx}}" data-toggle="collapse" data-target="#collapse_{{idx}}"
                aria-expanded="true" aria-controls="collapse_{{idx}}" role="button">
                <span style="cursor:pointer;">
                    <b>{{row[colname_for_title]}}</b>
                    {% for colname in colname_for_subtitle %}
                        ({{ row[colname]}})
                    {% endfor %}
                </span>
            </div>
            <div id="collapse_{{idx}}" class="collapse" aria-labelledby="header_{{idx}}" data-parent="#accordion">
                <div class="card-body">
                    {% for colname in colnames_for_card_body %}
                    <p><b>{{colname}}</b>: {{ row[colname]}}</p>
                    {% endfor %}
                    <p>
                        <button class="btn btn-link text-left" data-toggle="collapse"
                            data-target="#collapse_{{idx}}_details" aria-expanded="true"
                            aria-controls="collapse_{{idx}}_details">
                            Show details
                        </button>
                    </p>
                    <div class="collapse" id="collapse_{{idx}}_details">
                        <div class="card card-body">
                            {% for colname in colnames_for_card_desc %}
                            <p><b>{{colname}}</b>: {{ row[colname]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-primary" type="button" href="{{row[colname_for_link]}}">
                            Open at athensnetwork.eu
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>